<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update customer</title>
</head>
<body>
<div style="margin: 50px">
    <h1>UPDATE CUSTOMER</h1>
    <form  th:action="@{/customers/update/{id} (id=${customerUpdate.id})}" th:object="${customerUpdate}" method="post"
           style="border: 1px solid black; padding: 20px; width: 280px" >
        <div style="margin: 20px">
            <label>Name:</label>
            <input placeholder="Nhập tên" id="name" th:field="*{name}">
        </div>
        <div style="margin: 20px">
            <label>Email:</label>
            <input placeholder="Nhập email" id="email" th:field="*{email}">
        </div>
        <div style="margin: 20px">
            <label>Address:</label>
            <input placeholder="Nhập dia chi" id="address" th:field="*{address}">
        </div>
        <div style="margin: 20px">
            <label>Phone:</label>
            <input placeholder="Nhập sdt" id="phone" th:field="*{phone}">
        </div>

        <button type="submit" style="margin-left: 100px; width: 80px; background: aqua">Update</button>
    </form>
</div>
</body>
</html>